{
    "tag": "{{ .Tag }}",
    "listen": "0.0.0.0",
    "port": {{ .Port }},
    "protocol": "vless",
    "settings": {
        "clients": [],
        "decryption": "none"
    },
    "streamSettings": {
        "network": "tcp",
        "security": "reality",
        "realitySettings": {
            "show": false,
            "dest": "{{ .Target }}",
            "xver": 0,
            "serverNames": {{ .ServerNamesJSON }},
            "privateKey": "{{ .PrivateKey }}",
            "minClientVer": "",
            "maxClientVer": "",
            "maxTimeDiff": 0,
            "shortIds": {{ .ShortIdsJSON }}
        },
        "tcpSettings": {
            "alpn": ["http/1.1"]
        }
    },
    "sniffing": {
        "enabled": true,
        "destOverride": [
            "http",
            "tls"
        ]
    }
}